body {
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100%;
}

h5 {
  letter-spacing: 3px;
}

footer.page-footer {
  padding: 0;
  margin: 0;
}

textarea.md-textarea {
  padding: 2.6rem 0 1.6rem;
}

.white-text {
  color: #fff;
}

.hr-light {
  border-color: #fff;
  opacity: 0.8;
}
