<header>
  <app-header></app-header>
  <!-- Intro Section -->
  <div class="intro-bg view hm-white-light jarallax" data-jarallax='{"speed": 0.2}'>
    <div class="full-bg-img">
      <div class="container flex-center">
        <div class="row pt-5 mt-3">
          <div class="col-md-12 mb-3">
            <div class="intro-info-content text-center">
              <h1 class="display-3 mb-5 wow fadeInDown animated" data-wow-delay="0.3s">ABOUT</h1>
              <h5 class="font-up mb-5 mt-1 font-bold wow fadeInDown animated" data-wow-delay="0.3s">“The great problem-solvers are the ones who possess the right mind with positivity, critical thinking, creative thinking, and systems thinking.” </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <p align="justify">quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

