  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

    <!-- Navbar brand -->
    <logo><a class="navbar-brand" href="#">MackWeb Development</a></logo>

    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/home']" class="nav-link waves-light" mdbRippleRadius>Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/about']" class="nav-link waves-light" mdbRippleRadius>About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/services']" class="nav-link waves-light" mdbRippleRadius>Services</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/portfolio']" class="nav-link waves-light" mdbRippleRadius>Portfolio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/contact']" class="nav-link waves-light" mdbRippleRadius>Contact</a>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->


