<header>
  <app-header></app-header>

  <!--Intro Section-->
  <section class="view intro-2">
    <div class="pattern-overlay"></div>
    <div class="full-bg-img">
      <div class="container flex-center">
        <div class="d-flex align-items-center">
          <div class="row flex-center pt-5 mt-3">
            <div class="col-md-6 text-center text-md-left mb-5">
              <div class="white-text fadeInLeft animated">
                <h1 class="display-4 text-uppercase">Contact</h1>
                <hr class="hr-light">
                <h6>Through our problem solving process, Mackweb has made many lives easier. Interested in learning more? Send us an email or give us a call now.</h6>
                <br>
                <h3><i class="fa fa-phone mr-3"></i> <a class="white-text" href="tel:3035701487">303-570-1487</a></h3>
                <h3><i class="fa fa-envelope mr-3"></i> <a class="white-text" href="mailto:info@mackwebdevelopment.com">info@mackwebdevelopment.com</a></h3>
              </div>
            </div>

            <div class="col-md-6 col-xl-5 offset-xl-1">
              <!--Form-->
              <div class="card fadeInRight animated shadow-lg">
                <div class="card-body z-depth-2">
                  <!--Header-->
                  <div class="text-center">
                    <h3 *ngIf="!messageSent">Send A Message</h3>
                    <h3 *ngIf="messageSent">Your Message has been sent!</h3>
                    <hr>
                    <p *ngIf="messageSent">We will reach out to you as soon as humanly possible.</p>
                  </div>

                  <!--Body-->
                  <form *ngIf="!messageSent" [formGroup]="contactForm" (submit)="sendEmail()">

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-user prefix grey-text"></i></div>
                      </div>
                      <input placeholder="Name" required [ngClass]="{'invalid' : contactForm.controls['name'].errors && !contactForm.controls['name'].pristine}" type="text" id="name" class="form-control" mdbActive formControlName="name" name="name">
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-envelope prefix grey-text"></i></div>
                      </div>
                      <input placeholder="Email" required [ngClass]="{'invalid' : contactForm.controls['email'].errors && !contactForm.controls['email'].pristine}" type="email" id="email" class="form-control" mdbActive formControlName="email" name="email">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-phone prefix grey-text"></i></div>
                      </div>
                      <input placeholder="Phone" [ngClass]="{'invalid' : contactForm.controls['phone'].errors && !contactForm.controls['phone'].pristine}" type="tel" id="phone" class="form-control" mdbActive formControlName="phone" name="phone">
                    </div>

                    <!--Textarea with icon prefix-->
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-pencil prefix grey-text"></i></div>
                    </div>
                      <textarea placeholder="How can we help?" required [ngClass]="{'invalid' : contactForm.controls['message'].errors && !contactForm.controls['message'].pristine}" class="form-control" type="text" id="form8" formControlName="message" name="message"></textarea>
                    </div>

                    <div class="text-center mt-1">
                      <button
                        [disabled]="!contactForm.valid"
                        type="submit"
                        class="g-recaptcha btn btn-lg btn-primary"
                        data-sitekey="6LewAVYUAAAAAJxqgQ1it-uXbSy8lyxgK9zeJZNC"
                        data-callback="this.sendEmail()" mdbRippleRadius>
                        Send <i class="fa fa-paper-plane-o ml-2"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <!--/.Form-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</header>


