<div class="intro-bg view hm-white-light jarallax" data-jarallax='{"speed": 0.2}'>
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row pt-5 mt-3">
        <div class="col-md-12 mb-3">
          <div class="intro-info-content text-center">
            <h1 class="display-3 mb-5 fadeInDown animated">PORTFOLIO</h1>
            <h5 class="font-up mb-5 mt-1 font-bold wow fadeInDown animated">"A picture is worth a thousand words. An interface is worth a thousand pictures"</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

