<!-- Intro Section -->
<section class="container pt-5 mt-5">
    <div class="row">
      <div class="col-md-12 mb-3 text-center animated fadeInDown">
          <h1>MackWeb <span>DEVELOPMENT</span></h1>
          <h5 class="mb-5 mt-1">User Interface (UI) & Full Stack Development</h5>
          <a class="btn btn-primary" href="#" role="button">View portfolio</a>
      </div>
    </div>
</section>


<a class="scroll-button animated pulse infinite" href="#about">
  <i class="fa fa-angle-down"></i>
</a>

<!--Section: Features v.3-->
<section class="section feature-box container py-5">

  <!--Section heading-->
  <h1 class="section-heading pt-4">Custom Software Development</h1>
  <!--Section description-->
  <p class="section-description lead grey-text">With over 15 years of professional design and development experience, Mackweb is committed to enhancing customer satisfaction and brand loyalty by producing efficient and effective web-based applications.</p>

  <!--Grid row-->
  <div class="row features-small pt-2">

    <!--Grid column-->
    <div class="col-lg-5 mb-r center-on-small-only">
      <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7 animated fadeIn wow">

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <i class="fa fa-pencil blue-text"></i>
        </div>
        <div class="col-10">
          <h5 class="feature-title">Planning</h5>
          <p class="grey-text">From brainstrorming to wireframing, we're there every step of the way to make sure you know what you want to build.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <i class="fa fa-paint-brush blue-text"></i>
        </div>
        <div class="col-10">
          <h5 class="feature-title">Design</h5>
          <p class="grey-text">Make your website ready for visitors on all devices.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <i class="fa fa-code blue-text"></i>
        </div>
        <div class="col-10">
          <h5 class="feature-title">Development</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <i class="fa fa-wrench blue-text"></i>
        </div>
        <div class="col-10">
          <h5 class="feature-title">Support</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.3-->

<!--Section: Features v.1-->
<section class="section feature-box container py-5">

  <!--Section heading-->
  <h1 class="section-heading pt-4">Why is it so great?</h1>
  <!--Section description-->
  <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

  <!--Grid row-->
  <div class="row features-big">

    <!--Grid column-->
    <div class="col-md-4 mb-r">
      <i class="fa fa-area-chart red-text"></i>
      <h5 class="feature-title">Analytics</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-r">
      <i class="fa fa-book cyan-text"></i>
      <h5 class="feature-title">Tutorials</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-r">
      <i class="fa fa-coffee orange-text"></i>
      <h5 class="feature-title">Relax</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
  <hr/>
</section>
<!--Section: Features v.1-->

